<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block css %}{% endblock %}
</head>

<body>

    <header class="topbar">
        <h2>BMS System</h2>
        <nav>
            <a href="/">Home</a>
            <a href="/auth/logout">Logout</a>
        </nav>
    </header>

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block js %}{% endblock %}
</body>
</html>