{% extends "layout.html" %}
{% block content %}
<h2>Profil Saya</h2>

<div class="profile-card">
    <img src="{{ url_for('static', filename='uploads/profiles/' ~ user.profile_photo)}}" class="profile-pic">

    <form id="profileForm">
        <label>Nama Lengkap</label>
        <input type="text" id="full_name" value="{{ user.full_name }}">

        <label>No. Telepon</label>
        <input type="text" id="phone" value="{{ user.phone }}">

        <label>Alamat</label>
        <input type="text" id="address" value="{{ user.address }}">

        <button type="button" onclick="saveProfile()">Simpan</button>
    </form>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}