{% extends "layout.html" %}
{% block content %}
<h2>Dashboard User</h2>

<div class="card">
    <h3>Selamat datang, {{ user.full_name or user.username }}</h3>
    <img src="{{ url_for('static', filename='uploads/profiles/' ~ user.profile_photo)}}" 
         class="profile-pic">

    <p>Email: {{ user.email }}</p>

    <a class="btn" href="/profile">Edit Profil</a>
    <a class="btn" href="/users/upload-profile/{{ user.id }}">Ubah Foto Profil</a>
    <a class="btn" href="/users/upload-background/{{ user.id }}">Ubah Background</a>
</div>
{% endblock %}